body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.frame {
  background-color: rgb(192, 192, 240);
  height: 300px;
  width: 500px;
  padding: 30px;

  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
}
#frame3 {
  height: 300px;

}
h3 {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(143, 44, 64);
}
.pad {
  border-radius: 3px;
  height: 30px;

}
.extra {
  text-decoration: none;
  color: red;
  
}
.button{
    width: 100%;
    background:rgb(68, 143, 241) ;
    border-radius: 4px;
    border: none;
    padding: 5px;
    color: white;
}
.structure{
    display: flex;
    justify-content: center;
    text-align: left;
}
#frame2 {
    background-color: rgb(192, 192, 240);
    height: 600px;
    width: 400px;
    padding: 30px;
    
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: right;
  }
  td{
      padding: 10px;
  }
  .date{
    border-radius: 3px;
    height: 30px;
    width: 225px;
  }